@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/scss/bootstrap.scss';

$white: #fff;
$black: #000;
$blue: #124076;
$dark-orange: #d3914a;
$yellow: #F9E897;
$orange: #FFC374;
$danger: #b92145;
$background: #f1f1f1;
$grey: #6f6f6f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background;
}

.btn {
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 300px;
    border: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-primary {
    background: $blue;
    color: $white;

    &:hover {
        background: $dark-orange;
    }
}

.btn-outlined {
    border: 1px solid $dark-orange;
    background: $white;
    color: $dark-orange;

    &:hover {
        background: $dark-orange;
        color: $white;
    }
}

.btn-block {
    width: 100%;
}

.home-header {
    background-color: $blue;
    padding: 25px 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-header-text {
    margin-top:50px;
    text-align: center;
    color: $white;

    .tagline {
        font-size: 25px;
        font-weight: 300;
    }
}

.home-header-search {
    margin-top: 20px;

    input {
        width: 600px;
        max-width: 100%;
        border-radius: 25px;
        text-align: center;
        padding: 10px 20px;
        border: 2px solid $blue;

        &:focus {
            outline: none;
        }
    }
}

.menu {
    background-color: $blue;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: $dark-orange;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        gap: 5px;
    }

    li {

        a {
            color: $white;
            height: 46px;
            width: 70px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease;
            position: relative;

            .info-count {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $dark-orange;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 5px;
                right: 5px;
                transform: translate(20%, -20%);
                color: $white;
            }

            &:hover {
                color: $dark-orange;
            }
        }
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.books-section {
    padding: 70px 0;

    .section-title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: $blue;
        margin-bottom: 30px;
    }
}

.books-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .book-box {
        border-radius: 3px;
        background: $white;
        overflow: hidden;
        box-shadow: 0 8px 40px 0 rgba(49, 32, 137, 5%);
        text-align: center;
        max-width: 270px;
        transition: all 0.4s ease;
        margin: 10px;

        .book-box-content-container {
            padding: 0 10px;
        }

        &:hover {
            box-shadow: 0 10px 50px 2px rgba(0, 0, 0, 15%);

            .image {
                padding: 0;
                transition: all 0.35s ease-in-out;
            }
        }

        .book-banner {
            position: absolute;
            right: -25px;
            top: 95px;
            padding: 0px 40px;
            background: #ff6138;
            color: #ffffff;
            font-size: 1em;
            text-transform: uppercase;
            transform: rotate(45deg);
            transform-origin: 100% 0;
            z-index: 1;
        }

        .image {
            background: #cbcbcb;
            padding: 15px;
            height: 230px;
            width: 270px;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            transition: all 0.4s ease;
            position: relative;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        a {
            text-decoration: none;
        }

        .book-title {
            font-size: 18px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }

        .book-summary {
            color: $grey;
            font-style: italic;
            font-weight: 200;
            margin-bottom: 10px;
        }

        .book-price {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            color: $black;
        }
    }
}

.login-page {
    min-height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form-box {
        background: #fff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        max-width: 100%;

        .login-title {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 30px;
            color: $dark-orange;
        }
    }
}

.field {
    margin-bottom: 25px;

    input, select {
        width: 100%;
        padding: 10px 15px;
        border-radius: 200px;
        border: 1px solid #ddd;
    }

    .has-error {
        border-color: $danger;
    }
}

.field-error {
    color: $danger;
    font-size: 13px;
    margin-top: 2px;
}

.account-page {
    padding: 50px 15px;
}

.pop-up {
    background: rgba(0,0,0,0.04);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    .pop-up-box {
        background: #fff;
        padding: 100px;
        text-align: center;
        border-radius: 10px;

        .pop-up-title {
            color: $blue;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 50px;
        }

        .pop-up-actions {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

.book-page {
    padding: 50px 15px;

    .book-page-row {
        display: flex;

        .book-page-image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .book-page-details {
            width: 50%;

            .b-title {
                color: $blue;
                font-weight: 600;
                font-size: 24px;
                margin-bottom: 10px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 200px;
                    left: 0;
                    bottom: -2px;
                    border-bottom: 2px solid $blue;
                }
            }

            .b-price {
                color: $pink;
                font-weight: 600;
                font-size: 20px;
                margin-bottom: 5px;
            }

            .b-genre {
                font-weight: 200;
                font-size: 16px;
                color: #606060;
                font-style: italic;
                margin-bottom: 10px;
            }

            .b-description {
                font-size: 16px;
                font-weight: 300;
                color: #323232;
                margin-bottom: 20px;
            }

            .b-form {
                margin-bottom: 20px;

                label {
                    display: inline-block;
                    width: 80px;
                }

                .b-quantity {

                    input {
                        min-width: 200px;
                        height: 35px;
                        border-radius: 200px;
                        padding: 5px 20px;
                        text-align: center;
                        background: #fff;
                        border: 1px solid $blue;
                        color: $blue;
                        font-size: 15px;
                        font-weight: 600;
                        appearance: none;
                    }
                }
            }

            .btn-cart {
                background-color: $dark-orange;
                color: #fff;
                height: 40px;
                width: 100%;
                transition: all 0.4s ease;

                &:hover {
                    background-color: $blue;
                }
            }
        }
    }
}

.confirmMessage {
    font-size: 18px;
    font-weight: 600;
    color: $blue;
    text-align: center;
    margin-bottom: 20px;
}

.checkout-page {
    padding: 70px 0;
    background: #fafafa;

    .checkout-form {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 6px rgba(0,0,0,0.09);
        overflow: hidden;
        padding: 30px;
        width: 700px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.checkoutSuccessContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-weight: 500;
}

// Stripe styling BEGIN //

.stripe-payment-label {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

// Stripe styling END //

.page-success {
    padding: 70px 0;
    text-align: center;

    h1 {
        font-size: 40px;
        font-weight: 600;
        color: $dark-orange;
    }

    h2 {
        font-size: 30px;
        font-weight: 300;
        color: $blue;
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        color: #000;
    }
}

